/* Import fonts */
@import url('https://fonts.cdnfonts.com/css/optimus-princeps');

/* Global styles */
body {
    background-color: #0F0706; /* Smoky Black */
    color: white;
    font-family: 'Animosa', sans-serif;
}

/* Apply Optimus Princeps to headers */
h1, h2, h3, .chapter-title {
    font-family: 'Optimus Princeps', serif;
    color: #291f1a; /* lighter Smoky Black */
}

/* Apply Animosa to all other text */
p, td, th {
    font-family: 'Animosa', sans-serif;
    color: white;
}
